body{
    font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.section1 h3{
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.section1 p{
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
