body{
    font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.1 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.2 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.3 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.4 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.5 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.6 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.7 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.8 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.9 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.10 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.11 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.12 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}
.13 {
    text-align: center;
    color: rgb(116, 207, 192);
    font-weight: 10px;
}